.Tasks {
  flex: 1 1 20%;
  height: 100%;
  min-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .tasks-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    color: var(--small-title-color);
    position: relative;
    .tasks-count {
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: var(--white);
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      background-color: var(--notification-background);
    }
  }
  .tasks-container {
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding: 24px;
    background-color: var(--background-transparent-100);
    border: none;
    padding: 16px;
    transition:
      background-color 0.2s,
      outline 0.2s;
    border-radius: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      // background-color: var(--background-transparent-200);
    }
    .drag-drop-list-container {
      max-height: 508px;
      overflow: auto;
    }
  }
}
