.SideBar {
  width: 280px;
  height: 100vh;
  overflow: auto;
  border-right: 2px solid #ffffff1a;
  background-color: #ffffff0d;
  .side-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    // background-color: #ffffff1a;
    border-radius: 0px 16px 16px 0px;

    .side-bar-title {
      color: var(--white);
      font-size: 2rem;
      padding: 32px 32px;
      font-weight: 700;
      opacity: 0.6;
    }
    .side-bar-list,
    .BookmarkList {
      a {
        text-decoration: none;
      }
      .side-bar-item-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .side-bar-item-group-title {
          font-size: 1rem;
          font-weight: 700;
          color: var(--white);
          opacity: 0.4;
          padding: 8px 8px;
        }

        .side-bar-item-group-content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
        }
      }

      .side-bar-item {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        padding: 6px 12px;
        height: 44px;
        border-radius: var(--border-radius);
        font-size: 1rem;
        width: 100%;
        cursor: pointer;
        color: var(--white);
        transition: all var(--transition) ease;
        opacity: 0.5;
        &:hover {
          background-color: #ffffff22;
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.98);
        }
        .side-bar-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .side-bar-text {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .side-bar-footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      place-content: center;
      place-items: flex-start;
    }
  }
}
