body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  z-index: 1;
}
body::after {
  content: '';
  position: fixed;
  top: -300px;
  right: -600px;
  background-image: url('@assets/img/background-gradient.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  aspect-ratio: 1/1.2;
  z-index: -1;
  pointer-events: none;
}

body::before {
  content: '';
  position: fixed;
  top: -200px;
  left: -300px;
  background-image: url('@assets/img/background-gradient.svg');
  rotate: 230deg;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  aspect-ratio: 1/1.4;
  z-index: -1;
  pointer-events: none;
}

#app-container {
  width: 100%;
  height: fit-content;
}

.App {
  position: relative;
  width: 100%;
  height: fit-content;
  @media (max-width: 768px) {
  }
  display: flex;
  flex-direction: row;
}

.side-container {
  height: 100%;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 24px;
  margin: auto;
  place-content: center;
  place-items: flex-start;
  @media (max-width: 768px) {
    gap: 8px;
  }
}

.new-tab-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 24px;
  width: 100%;
  // height: fit-content;
  place-content: center;
  place-items: flex-start;
  padding: 20px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding: 0px 20px 20px 20px;
}
