.Memo {
  flex: 1 1 60%;
  .memo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .memo-title {
      font-size: 1rem;
      font-weight: 700;
      color: var(--white);
      opacity: 0.4;
    }

    .memo-textarea {
      font-family: 'Pretendard';
      width: 100%;
      flex: 1 1 auto;
      // min-width: 800px;
      min-height: 600px;
      font-size: 1rem;
      background-color: var(--background-transparent-100);
      border: none;
      padding: 16px;
      transition:
        background-color 0.2s,
        outline 0.2s,
        color 0.2s,
        box-shadow 0.2s;

      border-radius: 16px;
      font-weight: 600;
      color: var(--gray-300);
      outline: var(--outline);
      &:hover {
        background-color: var(--background-transparent-200);
      }
      &:focus {
        background-color: var(--background-transparent-200);
        color: var(--white);
        box-shadow: var(--input-inset-shadow);
      }
      &::-webkit-resizer {
        display: none;
      }
    }

    .loader {
      width: 36px;
      height: 36px;
      background-color: white;
      &.loading {
        @keyframes spin {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360);
          }
        }
        animation: spin 2s linear infinite;
      }
    }
  }
}
